<div class="border-solid border-4 border-black md:w-1/2 mx-auto w-full mb-5">
    <% Comment.includes(:author).where(post_id: post.id).each do |comment| %>
      <div class="flex gap-3 mt-4">
        <div><%= comment.author.name %>:</div>
        <div class="w-3/4"><%= comment.text %></div>
      </div>
    <% end %>
</div>